.form-input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 5px;
    margin-left: 5px;
}

.padding{
    padding-right: 0px;
    padding-left: 0px;
}

#addCategoryButton{
    width: 40px;
}

.padding-right{
    padding-right: 0px;
}

.addMargin{
    margin-right: 10px;
    margin-left: 10px;
}