.homePageItem{
    border-bottom: 5px solid;
    border-bottom-color: #8FB9A8;
}

img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

ion-searchbar {
    color: #F18289;
}

ion-searchbar.searchbar-has-focus {
    color: #8FB9A8;
}

.openRecipe{
    width: 172px;
}





