<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="margin">
    <ion-item>
      <ion-label position="floating">Current email</ion-label>
      <ion-input type="email" [(ngModel)]="currentEmail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">New email</ion-label>
      <ion-input type="email" [(ngModel)]="newEmail"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Current password</ion-label>
      <ion-input type="password" [(ngModel)]="currentPass" placeholder="Enter your original password"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="updateProfile()">Save Changes</ion-button>
  <ion-button (click)="signOut()" expand="full" class="marginTop">Sign out</ion-button>
  </div>

</ion-content>